<!DOCTYPE html>
<html lang = "en">
  <head>
      <link rel="stylesheet" href="styles/layout.css">
      <link rel="stylesheet" href="styles/modules.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content=ie="edge">
    <title>Book Shelf App</title>

</head>
<body>
  <header>
    <div>
      <h1>My Book Shelf</h1>
    </div>
  </header>
  <main id="bookContainer">
  <ul>
  <% searchResults.forEach(book => { %>
    <li id="showPageStyle">
      </a><h2><%= book.title %></h2>
      <img src="<%- book.image %>" alt="<%=book.title%>"/>
      <h3>Author(s): <%= book.authors %></h3>
      <button type="submit" id="searchButton">View Book Summary : <%= book.description %></button>
      <!-- <p>Book Summary : <%= book.description %></p> -->
      <p>Book ISBN : <%= book.isbn %></p>
     <br>
     <br>
    </li>
  <% } ); %>
  </ul>
</main>
  <p><a id="returnHome" href="/">Return to Home Page</a></p>

</body>
</html>