<!DOCTYPE html>
<html lang = "en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content=ie="edge">
    <title>Book Shelf App</title>

</head>
<body>
  <ul>
  <% searchResults.forEach(book => { %>
    <li>
      </a><h2><%= book.title %></h2>
      <img src="<%- book.image %>" alt="<%=book.title%>"/>
      <h3>Author(s): <%= book.authors %></h3>
      <p>Book Summary: <%= book.description %></p>
     
    </li>
  <% } ); %>
    
  </ul>
</body>
</html>