<!DOCTYPE html>
<html>
<head>
    <title>Book App</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style/reset.css">
    <link rel="stylesheet" href="/style/base.css">
    <!-- <link rel="stylesheet" href="/style/layout.css"> -->
    <link rel="stylesheet" href="/style/module.css">
</head>
<body>
    <a href="/new"><h3> New Search</h3></a>
    
    <main>
        <h2><%= bookList.length %> Saved Books</h4>

          <ul class="book-list">
            <% bookList.forEach(item => { %>
                <section>
                  <img src="<%= item.img_url %>">
                  <h3><%= item.title %></h3>
                  <span><%= item.authors %></span>
                  <p><%= item.description %></p>
                  <span><%= item.isbn %></span>
                </section>
            <% }) %>
          </ul>
          <h2>Number of Saved Books: <%= bookList.length %></h4>
    </main>
</body>
</html>